<div id="<%= dom_id quote %>">
  <%#= turbo_frame_tag "quote_#{quote.id}" do %>
  <%= turbo_frame_tag quote do %>
    <p class="my-5">
      <%= link_to quote.name, quote_path(quote), data: { turbo_frame: "_top" }, class: "inline-block" %>
      <%= link_to "Edit", edit_quote_path(quote), class: "rounded-lg py-2 ml-2 px-2 bg-blue-100 inline-block font-medium" %>
      <%= link_to "Delete", quote, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "rounded-lg py-2 ml-2 px-2 bg-red-100 inline-block font-medium" %>
      <hr class="mt-6">
    </p>
  <% end %>
</div>
